@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary: #EF2779;
  --secundary: #7834BE;
  --secundary-2: #38A3F1;
  --gradiente: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
}





body {
  max-width: 1440px;
  background-color: #252b42;
  margin: 0 auto;
  
}

.altera-fonte {
  font-family: 'Roboto', sans-serif;
}

header{
  max-width:100%;
  background: var(--gradiente);
  


}

.navmenu {
  max-width:100%;
  height: 156px;
}

.form-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 269px;
    height: 50px;
    left: 178px;
    
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 39px;
}

.btn-menu {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 138px;
    height: 50px;
    left: 66.9%;
    top: 0px;
    color: var(--primary);
    padding: 14px 34px;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    border-radius: 35px;
    align-self: center;
    transition: .3s;
}

#email-help{
    margin: auto;
    align-items: flex-start;
    background: #e7e7e7;
    width: 353px;
    height: 54px;
    left: 0px;
    top: 24px;
    box-sizing: border-box;
    border-radius: 39px;
    padding-left: 35px;
}

.btn-subscribe {
  align-items: flex-start;
  padding: 12px 20px 20px 12px;
  background: var(--primary);
  color: #ffffff;
  width: 353px;
  height: 50px;
  left: 10px;
  top: 90px;
  box-sizing: border-box;
  border-radius: 39px;
  border: none;
  font-weight: 500;
}

.btn-try {
  align-items: flex-start;
  padding: 16px 0px 0px;
  border: none;
  
  color: #FFFFFF;
  font-weight: 700;

  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: var(--secundary-2);
  border-radius: 35px;

  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 0px;
}

.btn-try-white  {
  align-items: flex-start;
  padding: 16px 0px 47px;
  border: none;
  
  color: var(--secundary-2);
  font-weight: 700;
  width: 280px;

  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  border-radius: 35px;

  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 0px;
}

.btn-testmonials {
  align-items: flex-start;
  padding: 16px 0px 0px;
  border: none;
  
  color: #FFFFFF;
  font-weight: 700;

  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: var(--secundary-2);
  border-radius: 35px;

  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 0px;
}

.pricing {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0px 0px 40px;

  position: static;
  width: 335px;
  height: 310px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  /* SHADOW */

  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.pricing h1{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
}

.btn-order_now,
.btn-order_now_white {
  position: static;
  width: 255px;
  height: 52px;
  left: 40px;
  top: 218px;

  background: var(--secundary-2);
  border-radius: 35px;

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
 
  letter-spacing: 0.2px;

  color: #FFFFFF;

  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
}

.btn-order_now_white {
  background: white;
  color: var(--primary);
}

#new {
  background: var(--gradiente);

}

#clear {
  position: static;
  width: 100%;
  height: 794.38px;
  left: 0px;
  top: 6393px;

  background: #D6EBFF;

  /* Inside Auto Layout */

  flex: none;
  order: 7;
  align-self: center;
  flex-grow: 0;
  margin: 0px 0px;
}

.box-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 26px 0px 0px 41px;

  position: static;
  width: 400.72px;
  height: 430.38px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  border: 0.65371px solid #DDDDDD;
  box-sizing: border-box;
  box-shadow: 0px 8.49823px 12.4205px rgba(0, 0, 0, 0.07);
  border-radius: 13.0742px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 8.49823px;
}

.box-contact h6 {
  
}

.form-contact,
.text-contact {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 20px;
  position: static;
  width: 318.72px;
  height: 35.84px;
  
  background: #F5F5F5;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 39px;
}

.text-contact {
  border-radius: 0px;
}

.icone-contact {
 padding-right: 20px;
}

.list-social-media {
  list-style: none;
  ;
}

.btn-send {
  background: var(--primary);
  color: #ffffff;
  width: 94.79px;
  height: 34.53px;
  box-sizing: border-box;
  border-radius: 35px;
  border: none;
  font-weight: 500;
  align-self: flex-end;
  margin-right: 2.5rem;
}

@media (min-width: 768px) {
  .altera-img {
    
  }  
}